<div class="container" style="color: #555; text-align: start; margin-top: 50px">
  <h2 style="color: #555">ABOUT</h2>
  <hr />
  This is an online shopping website that permits a customer to submit online
  orders for items such as phones, tablets, home, office, electronics and
  computing.you can select your choice of products from the store. once you have
  finalized the order,then you can add an item to the shopping cart. When you
  checkout from shopping cart, then you order will be deliver at the doorstep.
  <br />
  <hr />
  <h3 style="color: #555">This is brought to you by: -</h3>
  <hr />
  <ul class="" style="list-style-type: circle; font-size: 20px">
    <li>Eman Magdi Akl</li>
    <li>Esraa Mahmoud Ahmed</li>
    <li>Mohamed Gaber Zakaria</li>
    <li>Reem Essam Mousa</li>
    <li>Sara Magdi Shams-Eldin</li>
    <li>Yehia Mohamed Akl</li>
  </ul>
</div>
